.about-us
{
    margin: 0;
    background-color: #02c195;
    padding-top: 100px;
    padding-bottom: 10px;
}

.about-us .heading
{
    text-align: center;
    margin-top: 115px;
    font-family: 'Merriweather', serif;
    color: white;
    margin: 0;
}

.about-us .paragraph
{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.about-us .main
{
    margin: 0;
}

.about-us .footer
{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 100px;
    color: white;
}

.about-us .image
{
    float: left;
}