.mainlanding
{
    margin: 0;
    background-color: #fff;
    
}

.top-content
{
    margin-top: 0px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
}

.top-container
{
    /* background: hsla(166, 98%, 38%, 1); */
    background: linear-gradient(180deg, hsla(166, 98%, 38%, 1) 21%, #fff 100%);
    /* background: -moz-linear-gradient(180deg, hsla(166, 98%, 38%, 1) 51%, #fff 100%);
    background: -webkit-linear-gradient(270deg, hsla(166, 68%, 38%, 1) 51%, #fff 100%); */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#02C195", endColorstr="#FFFFFF", GradientType=1 );
    padding-top: 150px;
    padding-bottom: 200px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #fff;
}

.first-button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 550;
    padding: 15px;
    background-color: #fff;
    color: #02c195;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    filter: drop-shadow(1px 1px 8px rgba(0, 0, 0, 0.308));
    transition: all 0.3s ease-in-out;
 }
 
 .first-button:hover {
    background: rgb(25, 25, 48);
    color: #fff;
    border: solid rgb(25, 25, 48) 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    text-decoration: none;
    transform: translateY(-3px)
 }

.mainlanding h1
{
    font-size: 3.5rem;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 900;
}

.mainlanding h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #02c195;
    text-align: center;
}

.middle-heading
{
    padding-top: 100px;
    text-align: center;
}

.middle-h2
{
    color: black !important;
}

.middle-p
{
    color: black;
}

.container
{
    padding-top: 75px;
    padding-bottom: 125px;
    text-align: left;
}

.fas 
{
    color: #02c195;
    padding-bottom: 25px;
}

.small-business-img
{
    width: 75%;
    float: left;
    margin-left: -150px;
    margin-right: 50px;
    right: 50px;
}

h3
{
    font-family: 'Montserrat', sans-serif;
    color: #02c195;
    font-size: 175%;
    line-height: 30px;
}

.why-us
{
    margin-bottom: -50px;
}

.second-heading
{
    padding-top: 60px;
}

.second-content
{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.third-heading
{
    font-size: 175%;
    padding-top: 100px;
}

.third-content
{
    font-size: 100%;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.feature1-col
{
    width: 55%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    padding-bottom: 20px;
}

.feature1
{
    padding-bottom: 50px;
}

.free-img
{
    width: 65%;
    float: right;
    margin-left: 20px;
    padding-bottom: 100px;
    margin-top: -50px;
}

.bottom-heading
{
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    color: #FFFFFF !important;
    padding-bottom: 50px;
}

.bottom-button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #02c195;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 550;
    padding: 15px;
    background-color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .bottom-button:hover {
    background: #02c195;
    color: white;
    border: solid white 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    text-decoration: none;
 }

.bottom-container
{
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #02c195;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer
{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.rights
{
    text-align: center;
    padding-top: 20px;
    color: #EAF6F6;
}